.actividad{
    text-align: center;
    margin: 2%;
    margin-top: 100px;
}

.actTitulo{
    font-size: 80px;
    margin-top: 120px;
    width: 100%;
    margin-bottom: 50px;
}

.actSlideContainer{
    display: flex;
    height: 40rem;
    gap: 1rem;
    width: 40%;
    margin: auto;
}

.actSlide{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.actSlide:hover{
    flex: 5;
}

.listaCampamento{
    list-style: none;
}