.experiencias{
    text-align: center;
    margin: 2%;
    margin-top: 100px;
}

.expTitulo{
    font-size: 80px;
    margin-top: 120px;
    width: 100%;
    margin-bottom: 50px;
}

.expNav{
    gap: 1rem;
    list-style: none;
    background-color: rgb(133, 203, 231);
    margin: auto;
    margin-bottom: 80px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0px 8px 16px 0px black;
}

.expLista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.expEnlace{
    color: white;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.expEnlace:hover{
    color: black;
}

.expSlideContainer{
    display: flex;
    height: 40rem;
    gap: 1rem;
    width: 40%;
    margin: auto;
}

.expSlide{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}

.expSlide:hover{
    flex: 5;
}

.listaCampamento{
    list-style: none;
}