.imgInicio{
    width: 100%;
}

.inicio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 150px;
}

.h1Header{
    font-size: 80px;
    font-family: 'Pompiere';
    text-align: center;
}

.h1Nombre{
    font-family: 'Amatic SC';
    background-color: rgb(133, 203, 231);
    font-size: 40px;
}