.perfil{
    text-align: center;
    margin: 19%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.linkPerfil{
    color: black;
}

div{
    margin-bottom: 50px;
}

.perTitulo{
    margin-bottom: 50px;
    font-size: 60px;
    grid-column: 1 / span 2;
}

.imgPerfil{
    height: 700px;
    border-radius: 20px;
    grid-row: 2;
    margin-right: 10px;
    margin-top: 20px;
}

.descripcion{
    grid-row: 2;
    grid-column: 2;
    margin-left: 10px;
}