.perfil{
    text-align: center;
    margin: 2%;
    margin-top: 100px;
}

.perTitulo{
    margin-bottom: 50px;
    font-size: 60px;
}

.perDatos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkPerfil{
    color: black;
}

div{
    margin-bottom: 50px;
}

.imgPerfil{
    width: 50%;
    /* height: 100%; */
    border-radius: 20px;
}
