.perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 150px;
}

.perTitulo{
    margin-bottom: 50px;
    font-size: 60px;
}

.perDatos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.linkPerfil{
    color: black;
}

div{
    margin-bottom: 50px;
}

.imgPerfil{
    width: 40%;
    border-radius: 20px;
}

.descripcion{
}