.footer{
    background-color: rgb(133, 203, 231);
    text-align: center;
    float: left;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.footerLista {
    list-style: none;
    text-align: center;
}

.footerLista li {
    padding: 0.5rem 1rem;
    text-align: center;
}

.footerLink:hover{
    color: black;
}

.footerNav{
    bottom: 0;
}