.nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.lista{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    background-color: rgb(133, 203, 231);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.menuDesp {
    position: relative;
}

.menuDesp:hover .desp {
    display: block;
    opacity: 1;
}

.desp {
    background-color: white;
    margin: 0;
    padding-left: 0;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: rgb(133, 203, 231);
}

.desp li {
    list-style: none;
    text-align: center;
    margin-bottom: 5px;
}

.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    color: black;
}

.botonArriba{
    cursor: pointer;
    padding: 7px;
    padding-bottom: 5px;
    padding-top: 0;
    border: none;
    background-color: rgb(133, 203, 231);
    border-radius: 100%;
    font-size: 30px;
    margin-bottom: 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
}